.main-bg {
	position: relative;
} 

.main-bg:before {
    content: "";
    width: 100%;
    height: 629px;
    position: absolute;
    top: 0;
    left: 0;
	z-index: -1;
	background: url(../images/page-bg/page-bg-01.png) no-repeat top center;
}
#service-main-bg:before {
	background: url(../images/page-bg/page-bg-02.png) no-repeat top center;
}
#contact-main-bg:before {
	background: url(../images/page-bg/page-bg-03.png) no-repeat top center;
}

#page-banner {
	height: 150px;
}

.breadcrumbs ul {
	margin: .5em 0;
	list-style-type: none;
	text-align: right;
}
.breadcrumbs li {
	display: inline-block;
	vertical-align: middle;
	padding: .1em .2em;
}
.breadcrumbs .fa-home {
	font-size: 1.3rem;
}
.breadcrumbs .current, .breadcrumbs li:hover a {
	font-size: .88rem;
	color: #d35400;
}


/* main01 start */
.outer-bg01{
	background: #e9edf1;
}
.outer-bg01:before {
	content: "";
	display: block;
	width: 100%;
	height: 100px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
#main01 .slogan {
	max-width: 960px;
	width: 100%;
	text-align: right;
	font-size: 2rem;
	font-style: italic;
	color: #002658;
	text-shadow:
		-1px -1px 0 #fff,  
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
	padding: 2.5em .5em 1.5em .5em;
	margin: 0 auto;
}

#main01 #page-wrap {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 1rem 1.5rem;
	background: rgba(255, 255, 255, .9);	
}

#main01 .page-title {
	font-size: 1.6rem;
	text-align: center;
}
#main01 .page-title:before, #main01 .page-title:after {
	content: "";
	display: inline-block;
	width: 52px;
	height: 1px;
	line-height: 2em;
	background: #002658;
	margin: .4em .5em;
}

#main01 .icon {
	display: block;
	margin: 0 auto;
}

.aboutus-content, .services-content, .contact-content {
	padding: 1.2rem 0.2rem;
}
.aboutus-content .aboutus-context, .aboutus-content .pic,
.contact-content .contact-ad, .contact-content .contact-info{
	display: inline-block;
	vertical-align: top;
	width: 48%;
}
.aboutus-content .aboutus-context {
	margin-right: 2%;
	padding: 0 .5em 1em .5em;
}

.aboutus-content .pic {
	-webkit-box-shadow: -5px 5px 8px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: -5px 5px 8px 0px rgba(0,0,0,0.51);
	box-shadow: -5px 5px 8px 0px rgba(0,0,0,0.51);
}

#main01 .p-style01 {
	margin-top: 0;
	font-size: 1.1rem;
	color: #002658;
}

/* works start */
.main02-bg {
	position: relative;
}
.main02-bg:after {
	content: "";
	width: 100%;
	height: 640px;
	bottom: -4em;
	z-index: -2;
	position: absolute;
	background: url(../images/page-bg/page-bg-04.jpg) no-repeat bottom center;
}
.main02-bg #main01 #page-wrap {
	background: none;
}
.main02-bg #page-banner {
	background: url(../images/page-bg/page-banner-01.jpg) no-repeat top center;
	text-align: center;
}
.main02-bg .page-title {
	font-size: 1.5rem;
	color: #fff;
	font-weight: normal;
}
.main02-bg .page-title:before, .main02-bg .page-title:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 1px;
    line-height: 2em;
    background: #fff;
    margin: .4em 1.5em;
}

#page-banner h2 {
	font-size: 1rem;
	color: #fff;
	font-weight: normal;
}
#page-banner .page-title-wrap {
	max-width: 90%;
	margin: 0 auto;
}

aside, #page-main {
	display: inline-block;
	vertical-align: top;
}
aside {
	width: 214px;
	background: #e9edf1;
	margin-right: 1rem;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(35,68,111,0.2);
	-moz-box-shadow: 2px 2px 3px 0px rgba(35,68,111,0.2);
	box-shadow: 2px 2px 3px 0px rgba(35,68,111,0.2);
}
aside .fa, #submenu-btn {
	display: none;
}
#page-main {
	width: calc(100% - 238px);
}
#page-main .title {
	margin-bottom: .5em;
}
aside ul {
	padding: 0;
	margin: 0;
}
aside li {
	list-style-type: none;
}
aside li a {
	display: block;
	margin: 0rem .7rem;
	font-size: 1.2rem;
	line-height: 3em;
	border-bottom: 1px dashed #a6bbd2;
}
aside li a:before {
    content: "";
    display: inline-block;
    display: middle;
    width: 12px;
    height: 12px;
    background: #23446f;
    margin-right: .5em;
    margin-left: .5em;
	-o-transition: .5s ease;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
	-ms-transition: .5s ease;
	transition: .5s ease;
}
aside li:hover a:before {
	-moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	transform: rotate(45deg);
	background: #6e84a2;
	-o-transition: .5s ease;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
	-ms-transition: .5s ease;
	transition: .5s ease;
}
aside li:hover .submenu {
	max-height: 9999px;
}
aside .submenu {
	background: #d5dee7;
	max-height: 0;
	overflow: hidden;
}
aside .submenu li a {
	border-bottom: none;
	margin: 0 2.5rem;
	font-size: .9rem;
	line-height: 2.6em;
}
aside .submenu li:hover {
	background: #3c5979;
}
aside .submenu li:hover a {
	color: #fff;
}
aside .submenu li a:before {
	width: 3px;
	height: 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border: 0px solid #000000;
}

.work-item {
	background: #e2e9f1;
	margin-bottom: 2.5em;
	-webkit-box-shadow: 4px 4px 6px 0px rgba(35,68,111,0.5);
	-moz-box-shadow: 4px 4px 6px 0px rgba(35,68,111,0.5);
	box-shadow: 4px 4px 6px 0px rgba(35,68,111,0.5);
	-o-transition: 1.5s ease;
	-moz-transition: 1.5s ease;
	-webkit-transition: 1.5s ease;
	-ms-transition: 1.5s ease;
	transition: 1.5s ease;
}
.work-item .pic, .work-item .work-item-right {
	display: inline-block;
	vertical-align: middle;
}
.work-item .pic {
	width: 360px;
	max-width: 100%;
}
.work-item .work-item-right {
	width: 300px;
	max-width: 100%;
	margin-left: -4px;
}
.work-item .work-item-right .title {
	font-size: 1.3rem;
	color: #002658;
}
.work-item .work-item-right .btns {
	text-align: center;
	margin-top: .5em;
}
.work-item .work-item-right .btns .more-btn:first-child {
	background: #e9edf1;
	color: #002658;
}
.work-item .work-item-right .btns .more-btn {
	min-width: 120px;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0,38,88,0.4);
	-moz-box-shadow: 2px 2px 4px 0px rgba(0,38,88,0.4);
	box-shadow: 2px 2px 4px 0px rgba(0,38,88,0.4);
}
.work-item .work-item-right .btns .more-btn:nth-child(n+2){
	margin-left: 5px;
}

.work-item .pic {
	position: relative;
}
.work-item .pic:before, .work-item .pic:after {
	content: "";
	display: block;
	position: absolute;
}

.work-item:hover .pic:before, .work-item:hover, .work-item .pic:before {
	-o-transition: .5s ease;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
	-ms-transition: .5s ease;
	transition: .5s ease;
}
.work-item .pic:before {
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(255, 255, 255, .5);
	top: 0;
	left: 0;
}
.work-item .pic:after {
	top: calc(2% - 1px);
	left: calc(2% - 1px);
	width: 96%;
	height: 96%;
	border: 2px solid #e2e9f1;
}
.work-item:hover .pic:before {
	background: rgba(255, 255, 255, 0);
}
.work-item:hover {
	-webkit-box-shadow: 4px 4px 6px 0px rgba(35,68,111,0.3);
	-moz-box-shadow: 4px 4px 6px 0px rgba(35,68,111,0.3);
	box-shadow: 4px 4px 6px 0px rgba(35,68,111,0.3);
}

.work-item .pic img {
	display: block;
}

.completed-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: calc(97% / 3 - 4px);
	margin: 0 .5% 55px .5%;
	overflow: hidden;
	-webkit-box-shadow: 4px 4px 6px 0px rgba(35,68,111,0.5);
	-moz-box-shadow: 4px 4px 6px 0px rgba(35,68,111,0.5);
	box-shadow: 4px 4px 6px 0px rgba(35,68,111,0.5);
}
.completed-item .pic img {
	display: block;
	width: 100%;
}
.completed-item .completed-item-text {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: auto;
	line-height: 1.2rem;
	font-size: .88rem;
	padding: 1.2rem .5rem;
	text-align: center;
	background: rgba(255, 255, 255, .4);
}
.completed-item .completed-item-text .fa-link {
	display: none;
	font-size: 28px;
}
.completed-item:hover .completed-item-text .fa-link{
	display: block;
	width: 100%;
	text-align: center;
}
.completed-item:hover img {
	-moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.3);
}
.completed-item:hover .completed-item-text {
	height: 100%;
	background: rgba(255, 255, 255, .6);
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
		align-items: center;
	-webkit-justify-content: center;
		justify-content: center;
}
.completed-item img {
	-webkit-transition: .7s ease;
	-ms-transition: .7s ease;
	-moz-transition: .7s ease;
	transition: .7s ease;
}
.completed-item:hover img {
    -webkit-transition: .3s ease;
	-ms-transition: .3s ease;
	-moz-transition: .3s ease;
	transition: .3s ease;
}

#pager {
	text-align: right;
	margin: .5rem 0;
	font-family: Helvetica Neue, 'Helvetica Neue', Helvetica, 'Helvetica', Arial, sans-serif;
}
#pager a:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 12px;
    margin-left: -4px;
    background: #333;
}
#pager a:first-child:before {
	content: none;
}
#pager span {
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    font-size: 1.2rem;
    text-align: center;
}
#pager .current {
	cursor: default;
}
#pager .current span:after {
	content: "";
	margin: 0 auto;
	display: block;
	width: .8em;
	height: 1px;
	background: #333;
}

#pager .fa {
	font-size: 2rem;
}

#products_show_pic {
	margin-bottom: 1.5rem;
	position: relative;
}

#products_show_pic .p-title {
    position: absolute;
    bottom: 70px;
    margin-bottom: 1.5rem;
    z-index: 5;
    background: rgba(255, 255, 255, .5);
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: .5em 0;
}

#products_show_pic .flex-direction-nav a:before {
	background: url(../images/arrow-white-right.png) no-repeat center center;
	width: 23px;
	height: 44px;
	content: "";
}
#products_show_pic  .flex-direction-nav a {
	width: 23px;
	height: 44px;
}
#products_show_pic img {
	width: 100%;
}
#products_show_pic #carousel, #products_show_pic #p-controls-btn {
	display: inline-block;
	vertical-align: top;
}
#products_show_pic #carousel {
	width: calc(98% - 290px);
	max-width: 400px;
	height: 70px;
}
#carousel.flexslider .slides.picS img {
    border: 1px solid #23446f;
    width: 90%;
    padding: 0;
}



#products_show_pic #p-controls-btn {
	width: 285px;
	margin-top: 10px;
	margin-left: 1%;
	border-top: 1px solid #002658;
	padding-top: 1rem;
}
.p-c-btn {
	padding: .2em;
	border: 1px solid #002658;
	color: #002658;
	text-align: center;
}
.p-c-btn:hover {
	background: #002658;
	color: #fcfcfc;

}
#products_show_pic #p-controls-btn .p-c-btn {
	display: inline-block;
	vertical-align: middle;
	width: calc(97% / 3 - 4px);
	margin: 0 .5%;
}

#products_show_introduction {
	font-size: 15px;
	color: #555;
}
#products_show_introduction .title {
	margin: 1em auto;
}
#products_show_introduction .title:after, #page-main .title:after {
	content: "";
	display: block;
	width: 2em;
	height: 1px;
	margin: .5em auto 0 auto;
	background: #002658;
}
#products_show_introduction figure {
	margin: .5em 1em 2em 1em;
}
/* works end */



.services-list, .services-pics {
	display: inline-block;
	vertical-align: top;
}
.services-pics {
	width: calc(99% - 320px);
	text-align: right;
}
.services-pics img {
	display: block;
	float: right;
	border: 4px solid #fff;
	-webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.5);
	position: relative;
}
.services-pics img:first-child {
	z-index: 2;
}
.services-pics img:nth-child(2) {
	top: -.5em;
	right: 10em;
	-ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
	transform: rotate(-3deg);
	z-index: 1;
}
.services-pics img:nth-child(3) {
	top: -3.3em;
}
.services-list {
	padding: 0 1em;
	margin: 0 1% 1em 1.5em;
	width: 285px;
}
.services-list li {
	list-style-type: none;
	line-height: 2.5em;
}
.services-list li:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #002658;
	margin-right: 1em;
}


.contact-ad {
	padding: .5em;
}
.contact-ad, .contact-ad  a {
	text-align: center;
	background: #002658;
	color: #fcf8f2;
}
.contact-ad p:last-child {
	font-size: 1.2rem;
}
.contact-ad .dial {
	font-size: 1.2rem;
	padding-left: .5em;
}

.contact-info li {
	list-style-type: none;
	color: #333;
}
.contact-info li span {
	display: inline-block;
	vertical-align: middle;
}
.contact-info li span:first-child {
	padding-right: .5em;
}
.contact-info li .dial {
	font-size: 1.2rem;
	font-weight: bold;
}

/* main01 end */

@media only screen and (max-width: 970px) {
	.services-pics img {
		max-width: 70%;
	}
	.services-pics img:nth-child(2) {
		right: 4em;
	}

	/* works start */
	aside {
		margin-bottom: 2em;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	aside .fa {
		display: inline-block;
		padding-left: .5em;
	}
	#submenu-btn {
		display: block;
		width: 100%;
		font-size: 1rem;
		height: 2.5rem;
		line-height: 2.5rem;
		text-align: center;
		background: rgba(87,134,189,1);
		background: -moz-linear-gradient(top, rgba(87,134,189,1) 0%, rgba(73,106,149,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87,134,189,1)), color-stop(100%, rgba(73,106,149,1)));
		background: -webkit-linear-gradient(top, rgba(87,134,189,1) 0%, rgba(73,106,149,1) 100%);
		background: -o-linear-gradient(top, rgba(87,134,189,1) 0%, rgba(73,106,149,1) 100%);
		background: -ms-linear-gradient(top, rgba(87,134,189,1) 0%, rgba(73,106,149,1) 100%);
		background: linear-gradient(to bottom, rgba(87,134,189,1) 0%, rgba(73,106,149,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5786bd', endColorstr='#496a95', GradientType=0 );
		color: #fff;
		-webkit-box-shadow: 2px 1px 3px 0px rgba(147,151,171,1);
		-moz-box-shadow: 2px 1px 3px 0px rgba(147,151,171,1);
		box-shadow: 2px 1px 3px 0px rgba(147,151,171,1);
	}
	aside, #page-main {
		display: block;
		width: 100%;
	}
	aside > ul {
		max-height: 0;
		overflow: hidden;
	}
	#submenu-btn.active + ul {
		max-height: 9999px;
	}
	aside > ul, #submenu-btn.active + ul {
		-o-transition: .5s ease;
		-moz-transition: .5s ease;
		-webkit-transition: .5s ease;
		-ms-transition: .5s ease;
		transition: .5s ease;
	}
	aside li:hover .submenu {
		max-height: 0;
	}
	aside li > a.active ~ .submenu {
		max-height: 9999px;
	}
	
	.work-item {
		background: #bdcee2;
	    border: 1px solid #4c6f9c;
	}
	.work-item .pic:before {
		display: none;
	}
	.work-item .pic, .work-item .work-item-right {
		display: block;
		margin: 1em auto 1em auto;
	}
	.work-item .pic{
		margin: 2% auto;
		max-width: 96%;
	}
	.work-item .work-item-right {
		margin-left: auto;
	}

	#products_show_pic .p-title {
    	position: relative;
    	bottom: 0;
    	top: 0;
	    margin-bottom: 0;
	    background: #eee;
	}
	/* works end */

	.contact-info {
		padding-left: 1rem;
	}
}

@media only screen and (max-width: 760px) {
	.aboutus-content .aboutus-context, .aboutus-content .pic {
		display: block;
		width: auto;
		max-width: 100%;
	}
	.aboutus-content .aboutus-context {
		margin-right: 0;
	}

	.services-list, .services-pics {
		display: block;
		width: 100%;
		margin: auto 0 auto 0;
	}
	.services-content, .services-list {
		position: relative;
	}
	.services-list {
		z-index: 5;
	}
	.services-pics {
		position: absolute;
		bottom: 0;
		right: 0;
		opacity: .3;
	}
	.services-pics img {
		max-width: 55%;
	}

	.completed-item {
		width: calc(98% / 2 - 4px);
		margin: 0 .5% 1.5rem .5%;
	}

	.contact-content .contact-ad, .contact-content .contact-info{
		display: block;
		width: 100%;
	}
	#products_show_pic #carousel, #products_show_pic #p-controls-btn {
		display: block;
		margin: .5rem auto;
	}
	#products_show_pic #carousel {
		width: 100%;
	}
	#products_show_pic #p-controls-btn {
		max-width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	#main01 .slogan {
		font-size: 1.5rem;
	}
	#page-banner .page-title-wrap .page-title:before,
	#page-banner .page-title-wrap .page-title:after,
	.main02-bg .page-title:before, .main02-bg .page-title:after {
		width: 1rem;
		margin: .4em;
	}
}

@media only screen and (max-width: 480px) {
	#main01 .page-title {
		font-size: 1.4rem;
	}
	#main01 .page-title:before, #main01 .page-title:after {
		width: 1rem;
	}
	.main02-bg .page-title {
		font-size: 1.2rem;
	}

	.completed-item {
		display: block;
		width: 96%;
		margin: 0 auto 1.5rem auto;
	}

	#pager {
		text-align: center;
	}

	#products_show_pic .p-title {
		font-size: 1.1rem;
	}

	.contact-info li:last-child span:last-child {
		font-size: 12px;
	}
}

@media only screen and (max-width: 375px) {
	#main01 .slogan {
		font-size: 1.3rem;
	}
	.contact-info li span img {
		width: 20px;
		height: 20px;
	}

	.contact-info li span:first-child {
		padding-right: .3em;
	}

	.main02-bg .page-title {
		font-size: 1rem;
	}
}