.blue-word {
	color: #002658;
}

.white-word {
	color: #fff;
}

.ligth-white-word {
	color: #fdfdfd;
}

/* banner start */
#idx-banner {
	position: relative;
	width: 100%;
}
.idx-banner-overlay-l, .idx-banner-overlay-r {
	display: inline-block;
	width: calc(50% - 480px);
    height: 100%;
    background: rgba(255, 255, 255, .5);
    text-indent: -9999px;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: inset 0px 0px 22px 0px rgba(19,19,19,.8);
	-moz-box-shadow: inset 0px 0px 22px 0px rgba(19,19,19,.8);
	box-shadow: inset 0px 0px 22px 0px rgba(19,19,19,.8);
}

.idx-banner-overlay-l {
	left: 0;
}

.idx-banner-overlay-r {
	right: 0;
}

#idx-bn-slide .slick-slide {
	position: relative;
}
#idx-bn-slide .slick-slide:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .2);
	opacity: 0;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
#idx-bn-slide .slick-slide:hover:before {
	opacity: 1;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
.bn-text {
	position: absolute;
	right: 5%;
	bottom: 50px;
	padding: 1.5em;
	text-align: center;
	background: rgba(255, 255, 255, .4);
}

.slogan {
	font-size: 1.5rem;
	line-height: 1.5em;
	color: #333;
	text-shadow: -2px -1px 1px #fff;
	font-weight: bold;
	margin-bottom: 1em;
}

#idx-bn-slide .slick-prev, #idx-bn-slide .slick-next {
	display: initial;
	width: auto;
	height: auto;
}
#idx-bn-slide .slick-next {
	right: calc(50% - 560px);
	z-index: 2;
}
#idx-bn-slide .slick-prev {
	left: calc(50% - 560px);
	z-index: 2;
}
#idx-bn-slide .slick-prev:before, #idx-bn-slide .slick-next:before {
	content: "";
	display: block;
	width: 31px;
	height: 60px;
	background: url(../images/idx-banner/bn-icon-nav.png) no-repeat center center;
}
#idx-bn-slide .slick-prev:before {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.slick-slide img{ border:0; display:block; width:100%;}
.slick-slider { margin:1px auto 0px auto;}
/* banner end */

#content {
	background: #fff;

}

#idx-top-section { 
	position: relative;
}

#idx-top-section:after {
    content: "";
    width: 100%;
    height: 581px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/bg-grey-cube.png) no-repeat top left;
}
#idx-top-section:before {
    content: "";
    width: 100%;
    height: 629px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/bg-light-blue.png) no-repeat top left;
}
#idx-top-section .more-btn {
	margin-top: .3rem;
}

.idx-about, .idx-service {
	position: relative;
	z-index: 1;
	width: 48%;
	display: inline-block;
	vertical-align: top;
	padding: 1rem;
}

.idx-about {
	position: relative;
	z-index: 9;
	margin: -50px 2% 0 1%;
	background: rgba(255, 255, 255, .85);
}

.idx-service {
	margin: 0 1% 0 0;
}

.idx-about .title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0 0 .5rem 0;
}

.idx-company-pic {
	max-height: 160px;
	overflow: hidden;
	margin-bottom: 1.5rem;
}
.idx-company-pic img{
	display: block;
	margin: 0 auto
}

.idx-desc {
	text-align: center;
}
.idx-desc p {
	text-align: left;
	font-size: .88rem;
	margin: .3em 0;
}
.idx-desc .em-p {
	font-size: 1.1rem;
}
.idx-desc .icon {
	display: block;
	margin: 0 auto;
}

.idx-service .title {
	padding: 0 0 .5em 0;
	color: #fdfdfd;
}

.idx-service table {
	width: 100%;
	max-width: 425px;
	font-size: 1rem;
	min-height: 100%;
	color: #fff;
}

.idx-service td {
	width: 50%;
	height: 180px;
	padding: 0 .5rem;
	position: relative;
	vertical-align: top;
}

.idx-service td img {
	max-width: 185px;
}

.idx-service tr:first-child td{
	padding-top: 1.5em;
}
.idx-service tr:first-child td img {
	position: absolute;
	top: 0;
	left: 0;
}

.idx-service tr:last-child td:last-child {
	padding-left: 20px;
}
.idx-service tr:last-child td img {
	position: absolute;
	top: -5em;
	right: -.5em;
}

.idx-service img {
	border: 3px solid #fff;
}
.idx-service .more-btn {
	margin-top: 1.2em;
}

#idx-lower-section {
	position: relative;
    z-index: 3;
    margin: 5.5rem auto .5rem auto;
    padding: 2em 0 2em 0;
}
.underline-title {
	font-size: 1.5rem;
	padding: .5em 0;
	margin-bottom: .5em;
	position: relative;
}
.underline-title:after {
    content: "";
    border-bottom: 1px solid #002658;
    width: 2em;
    position: absolute;
    bottom: 5px;
    left: calc(50% - 1em);
}

#idx-works-slide .newer-item {
	position: relative;
	cursor: pointer;
}
#idx-works-slide .item-wrap {
	width: 94%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}



#idx-works-slide .newer-item img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.newer-item-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
#idx-works-slide .newer-item .newer-item-text {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: auto;
	line-height: 1.5rem;
	font-size: 1rem;
	padding: 2rem .5rem;
	text-align: center;
	background: rgba(255, 255, 255, .4);
}
#idx-works-slide .newer-item .newer-item-text .fa-link {
	display: none;
	font-size: 25px;
}

#idx-works-slide .slick-dots {
	bottom: -2.5rem;
}
#idx-works-slide .slick-dots li {
	margin: 0 25px 0 0;
}
#idx-works-slide .slick-dots li button:before {
	content: "";
	width: 25px;
	height: 25px;
	background: rgba(60, 94, 138, 1);
	opacity: 1;
	-webkit-box-shadow: -3px 0px 4px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: -3px 0px 4px 0px rgba(0,0,0,0.55);
	box-shadow: -3px 0px 4px 0px rgba(0,0,0,0.55);
	border-radius: 13px 13px 13px 13px;
	-moz-border-radius: 13px 13px 13px 13px;
	-webkit-border-radius: 13px 13px 13px 13px;
	border: 0px solid #000000;
}
#idx-works-slide .slick-dots li.slick-active button:before {
	background: #002658;
}

@media only screen and (min-width: 971px) {
	#idx-works-slide .newer-item .newer-item-text {
		-ms-transition-delay: .7s;
		-moz-transition-delay: .7s;
		-webkit-transition-delay: .7s;
		transition-delay: .7s;
	}

	#idx-works-slide .newer-item img,
	#idx-works-slide .newer-item .newer-item-text,
	#idx-works-slide .newer-item .newer-item-text .fa-link{
		-webkit-transition: .7s ease;
		-ms-transition: .7s ease;
		-moz-transition: .7s ease;
		transition: .7s ease;
	}
	#idx-works-slide .newer-item:hover img,
	#idx-works-slide .newer-item:hover .newer-item-text,
	#idx-works-slide .newer-item:hover .newer-item-text .fa-link{
	    -webkit-transition: .3s ease;
		-ms-transition: .3s ease;
		-moz-transition: .3s ease;
		transition: .3s ease;
	}
	#idx-works-slide .newer-item:hover .newer-item-text .fa-link{
		display: block;
		width: 100%;
		text-align: center;
	}
	#idx-works-slide .newer-item:hover img {
		-moz-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    -webkit-transform: scale(1.2);
	    transform: scale(1.3);
	}
	#idx-works-slide .newer-item:hover .newer-item-text {
		height: 100%;
		background: rgba(255, 255, 255, .6);
		display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
			align-items: center;
		-webkit-justify-content: center;
			justify-content: center;
	}
}

@media only screen and (max-width: 1200px) {
	#idx-bn-slide .slick-next {
		right: 2rem;
	}
	#idx-bn-slide .slick-prev {
		left: 2rem;
	}
}

@media only screen and (max-width: 980px) {
	.bn-text {
		right: 12%;
	}
	.slogan {
		font-size: 1.3rem;
	}

	#idx-top-section:after, #idx-top-section:before{
		content: none;
	}
	#idx-top-section{
	    background: #767878;
	}
	.idx-service td {
		font-size: .88rem;
	}

	#idx-lower-section {
		margin: auto;
	}
}




@media only screen and (max-width: 760px) {
	
	.bn-text {
		bottom: .5em;
		padding: 1em;
	}

	.idx-about, .idx-service {
		width: 100%;
		display: block;
		margin: 0;
	}
}

@media only screen and (max-width: 640px) {
	
}

@media only screen and (max-width: 480px) {
	.bn-text {
		right: 1.5%;
		bottom: 0;
		padding: .3em;
		background: none;
	}
	.bn-text .slogan {
		display: none;
	}

	.idx-service td img {
		max-width: 100%;
	}
	.idx-service tr:last-child td img {
		position: static;
	}

	#idx-works-slide .slick-prev, #idx-works-slide .slick-next {
		font: normal normal normal 14px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		z-index: 999;
		top: auto;
		bottom: -3.5rem;
		width: 2rem;
		height: 2rem;
	}
	#idx-works-slide .slick-prev:before, #idx-works-slide .slick-next:before {
		font-family: FontAwesome;
		font-size: 2rem;
		color: #002658;
	}
	#idx-works-slide .slick-prev:before {
		content: "\f053";
	}
	#idx-works-slide .slick-next:before {
		content: "\f054";
	}
	#idx-works-slide .slick-prev {
		left: 35%;
	}
	#idx-works-slide .slick-next {
		right: 35%;
	}
}

@media screen and (max-width: 375px) {
	.idx-service tr, .idx-service td {
		display: block;
		width: 100%;
		height: auto;
	}
	.idx-service td img {
		display: none;
	}
	.idx-service tr:first-child td {
		text-align: left;
	}
	.idx-service tr:last-child td:last-child {
		padding-left: .5rem;
	    border-top: 1px solid #9a9a9a;
	}

}