<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Li_Works>
            <version>0.0.1</version>
        </Li_Works>
    </modules>
    <global>
        <blocks>
            <works>
                <class>Li_Works_Block</class>
            </works>
        </blocks>
        <helpers>
            <works>
                <class>Li_Works_Helper</class>
            </works>
        </helpers>
    </global>
    <frontend>
        <routers>
            <works>
                <use>standard</use>
                <args>
                    <module>Li_Works</module>
                    <frontName>works</frontName>
                </args>
            </works>
        </routers>
        <layout>
            <updates>
                <works>
                    <!--file in theme-->
                    <file>li_works.xml</file>
                </works>
            </updates>
        </layout>
    </frontend>
</config>